// font family
$primary-font: "Montserrat", sans-serif;

// color
$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);
$color-lightgreen: rgba(148, 227, 208, 0.5);
$color-green: hsl(166, 60%, 55%);
$color-slate: hsl(0, 0%, 85%);
